.main-div{
    display: flex;
    margin: 10px 0 18% 0;
}
.cards{
    margin: 0 10px 0 0;
    padding: 0 0 0 5%;
}
.card-img{
    margin:0 0 10% 0;
    width: 350px;

}
.card-para{
    display: flex;
    text-align: left;
    margin: 0 20% 0 2%;
    color: #154f30;
}